.text-spacer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 20px;

  .text-spacer-line {
    height: 1px;
    width: 30%;
    background-color: black;
  }

  p {
    text-align: center;
    font-size: 1.2rem;
  }
}
