.options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;

  .sign-in-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    width: 240px;
  }
  .home-guest-text{
    margin-top: 60px;
    text-align: center
  }

  .continue-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    width: 240px;
    
    .guest-link {
      width: 100%;
      display: block;
      .custom-button {
        width: 100%;
      }
    }
    .limited-container {
      display: flex;
      align-items: center;
      .limited-text {
        margin-left: 10px;
      }
    }
  }
}
.home-best-text {
  text-align: center;
}
