@import "../../styles/colors";

.input-filled {
  width: 100%;
  padding: 20px 15px;
  background: $invisible-blue;
  color: $dust-blue;
  border: solid 1px $invisible-blue;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.input-filled:hover {
  box-shadow: inset 0 0 0 2px $light-blue;
}
.input-filled:focus {
  box-shadow: inset 0 0 0 2px $light-blue;
  outline: 0;
}
