.quiz-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 600px;

    .button-container{
        align-self: flex-end;
        margin-right: 25px;
    }
}