$light-grey: rgb(199, 199, 199);
$invisible-blue: rgb(223, 233, 250);
$dust-blue: rgb(70, 83, 116);
$light-blue: rgb(115, 171, 255);
$accent-blue: rgb(60, 73, 253);
$dark-grey: #242424; //fonts
$transparent-blue: rgba(115, 171, 255, 0.563);
