.home-container {
  display: flex;
  flex-direction: column;
  max-width: 930px;

  .home-image-container {
    width: 500px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/home.programming.jpg);
    margin: auto auto;
    
  }

  .home-part-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .MuiButton-outlinedPrimary {
      background-color: white;
    }

    .home-intro {
      max-width: 400px;
      padding: 0px 20px;
      display: flex;
      flex-direction: column;

      p {
        margin-top: 0;
      }

      .sign-in-container {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
    }

  }
  .home-part-two {
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .home-container{
    .home-part-two {
      display: flex;
      justify-content: center;
    }
  }
}


