@import "../../styles/colors";

.home-container {
  // display: flex;
  // flex-direction: column;
  max-width: 930px;
  margin: auto;
  .home-part-one {
    display: flex;
    justify-content: space-between;
    .home-image-container {
      width: 600px;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../../assets/home-main.png);
      margin: auto auto;
    }
    .MuiButton-outlinedPrimary {
      background-color: white;
    }
    .home-intro {
      padding: 0px 0px 0px 40px;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 3rem;
        margin-bottom: 0;
      }
      .subtitle {
        font-size: 1.5rem;
      }
      .about-button-container {
        margin-top: 20px;
        width: 50%;
      }
    }
  }
}

.home-part-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $invisible-blue;
  padding: 120px 0px;
  margin-bottom: 90px;
  .our-pros-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home-part-two-action {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    color: $dust-blue;
    &:hover {
      color: $dark-grey;
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .home-container {
    .home-part-one {
      margin-bottom: 90px;
      flex-direction: column;
      .home-intro {
        padding: 20px;
        text-align: center;
        .about-button-container {
          align-self: center;
          width: 70%;
        }
      }
      .home-image-container {
        width: 100%;
        height: 300px;
      }
    }
  }
  .home-part-two {
    display: flex;
    justify-content: center;
  }
}
