.user-page {
  .nav-container {
    margin: 60px auto;
    width: 140px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .link-to-all {
      width: 100%;
      display: block;

      .back-to-all-button, .custom-button{
        width: 100%;
      }
    }
  }
}
