.section-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px 10px;
    align-content: center;

   .section-image{
       border-radius: 100px;
       height: 200px;
       background-size: cover;
       background-position: center;
       margin: 20px 0px;
   }
   .take-quiz{
       align-self: center;
       outline: none;
       text-decoration: none;
   }
   .go-to-quiz{
       align-self: center;
   }
}