@mixin box-shadow($x, $y, $blur, $z, $c){ 
  -webkit-box-shadow: $x $y $blur $z $c;
  -moz-box-shadow: $x $y $blur $z $c;
  -ms-box-shadow: $x $y $blur $z $c;
  box-shadow: $x $y $blur $z $c;
}

.quiz-question {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px auto;
 
  .question-text {
    text-align: center;
    width: 500px;
    @include box-shadow (0px, 1px, 4px, -1px, rgb(23, 18, 71));
  }
  .some-space {
    width: 22.5px;
    height: 22.5px;
  }
}
.quiz-buttons {
  display: flex;
  justify-content: space-around;
}

.question-count {
  text-align: right;
  margin-right: 22.5px;
}
