@mixin box-shadow($x, $y, $blur, $z, $c) {
  -webkit-box-shadow: $x $y $blur $z $c;
  -moz-box-shadow: $x $y $blur $z $c;
  -ms-box-shadow: $x $y $blur $z $c;
  box-shadow: $x $y $blur $z $c;
}

.quiz-question {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px auto;

  .question-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 500px;
    min-height: 100px;
    padding: 20px 20px;
    @include box-shadow(0px, 1px, 4px, -1px, rgb(23, 18, 71));

    .MuiCardContent-root:last-child {
      padding: 0;
    }
  }

  .some-space {
    min-width: 22.5px;
    height: 22.5px;
  }
}
.quiz-buttons {
  display: flex;
  justify-content: space-around;
  .custom-button{
    width: 48%;
  }
}

.question-count {
  text-align: right;
  margin-right: 22.5px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .quiz-container{
    width: 100%;
  }
  .quiz-question{

    width: 100%;
    .question-text{
      font-size: 1rem;
      min-height: 140px;
    }
  }
}