body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 80px;
  margin: 0 auto;
  max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.quiz-s-preview {
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
}

@media (max-width: 768px) {
  body {
    padding: 20px 20px;
    padding-bottom: 60px;
  }
}
