.our-pros {
  @mixin box-shadow($x, $c, $y, $b) {
    -webkit-box-shadow: $x $c, $y $b;
    -moz-box-shadow: $x $c, $y $b;
    -ms-box-shadow: $x $c, $y $b;
    box-shadow: $x $c, $y $b;
  }
  border-radius: 20px;
  background-color: white;
  width: 250px;
  height: 350px;
  margin: 10px;
  @include box-shadow(
    0 10px 15px -3px,
    rgba(0, 0, 0, 0.1),
    0 4px 6px -2px,
    rgba(0, 0, 0, 0.05)
  );
  // 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  // 0 4px 6px -2px rgba(0, 0, 0, 0.05)
  .our-pros-image-conatiner {
    width: 100%;
    padding: 10px;
  }
  .our-pros-image {
    width: 100%;
  }
  .our-pros-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
